
$accentColor:#71C732;
$baseColor:#EEEFEA;
$grayColor:#686868;
$darkgrayColor:#DBDBDB;
$lightgrayColor:#B3B3B3;
$greenColor:#2AA83A;
$blackColor:#000000;
$yellowColor:#DBFF0D;
$whiteColor:#ffffff;


#footer{
    text-align: center;
    align-content: center;
    background-color: $baseColor;
    height: 60px;
    font-size: 10px;
}
